.navbar{
    background-color: rgb(15, 107, 199);
    border-radius: 15px;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 65px;
}
.navbar li a{
    color: rgb(235, 235, 33);
    padding: 3px 3px;
    font-size: 18px;
    text-decoration: none;   
}
.navbar li a:hover{
    background-color: rgb(199, 58, 58);
    border-radius: 12px;
    color: rgb(27, 225, 225);
}
