<div class="container">
    <div>
        <ol class="Products ">
            <li><a href="javascript:void()">Python</a></li>
            <li><a href="javascript:void()">Java</a></li>
            <li><a href="javascript:void()">C++</a></li>
            <li><a href="javascript:void()">javascript</a></li>
            <li><a href="javascript:void()">Django</a></li>
            <li><a href="javascript:void()">Frontend Developer</a></li>
            <li><a href="javascript:void()">Backend Developer</a></li>
        </ol>
    </div>
</div>