<div class="container">
    <div>
        <ol class="Products ">
            <li><a href="javascript:void()">Python</a></li>
            <li><a href="javascript:void()">Java</a></li>
            <li><a href="javascript:void()">C++</a></li>
            <li><a href="javascript:void()">javascript</a></li>
            <li><a href="javascript:void()">Django</a></li>
            <li><a href="javascript:void()">Frontend Developer</a></li>
            <li><a href="javascript:void()">Backend Developer</a></li>
        </ol>
    </div>
</div>





<h1>YESHU DIGITAL MUSIC NETWORK </h1>

<h2>SERVICES</h2>

<div>YOUTUBE</div>
<div>BLOG</div>
<div>MCN/CMS</div>
<div>JOIN</div>
<div>MUSIC</div>



<span>Name</span>
<span>Add</span>
<span>Mobile</span>
<span>place</span>
<span>gmail</span>


<a href="#">FACEBOOK</a>
<a href="#">YOUTUBE</a>
<a href="#">INSTAGRAM</a>


<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitisLorem ipsum dolor sit amet consectetur adipisicing elit.
        Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis</p>



    <h3>YOUTUBE SERVICES</h3>
    <p class="P1" style="color: blue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus sunt. </p>

    <p class="P2" style="color:red;background-color:yellow;">Lorem ipsum dolor sit amet consectetur adipisicing
        elit.
        Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus suntLorem ipsum dolor sit amet consectetur
        adipisicing
        elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus suntLorem ipsum dolor sit amet consectetur
        adipisicing
        elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus suntLorem ipsum dolor sit amet consectetur
        adipisicing
        elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus suntLorem ipsum dolor sit amet consectetur
        adipisicing
        elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus sunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
        voluptatum! Cumque ipsam architecto nesciunt commodi sequi consequatur,
        repudiandae quia ex mollitia. Beatae quod debitis
        incidunt ad sequi aperiam libero quam? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Nisi, rem reiciendis optio obcaecati
        amet id perferendis necessitatibus, asperiores officiis nesciunt iusto porro nulla
        consequuntur quaerat maxime accusantium adipisci, natus sunt</p>
